#   ____  ____   _____               
#  / __ \|  _ \ / ____|              
# | |  | | |_) | |     ___  _ __ ___ 
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "02E80A2320F008EF4BE388DB63D06B05"
set sv_enforceGameBuild 2612
<<<<<<< Updated upstream
sets tags "nxgrp"
=======
sets tags "Metatropolis MGG"
>>>>>>> Stashed changes

## You MAY edit the following:
sv_licenseKey "cfxk_1S87lDum71vf5cMcNdW6M_1hsOih"
sv_hostname "^2Metatropolis Meta Gamers Group ^7| ^4Signup @ comingsoon.com "
sets banner_connecting "https://i.redd.it/iaakyixiz3e61.png"
<<<<<<< Updated upstream
sets sv_projectName "^2Q-Pixel Development ^7| ^4Signup @ comingsoon.com "
sets sv_projectDesc "In development"
=======
sets sv_projectName "^2Metatropolis Meta Gamers Group ^7| ^4Signup @ comingsoon.com "
sets sv_projectDesc "Best RP Server" 
>>>>>>> Stashed changes
sets locale "en-US" 
load_server_icon myLogo.png
set mysql_connection_string "mysql://root@localhost/arp3_0?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1
setr voice_enableSubmix 1
setr voice_enableUi 0

# QBCore UseTarget
setr UseTarget true

# These resources will start by default.
ensure webpack
ensure yarn
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents
ensure cron

# QBCore & Extra stuff

ensure qb-core
ensure chat

exec scripts.cfg
ensure [spawn]
exec assets.cfg

ensure qb-vehicleshop


# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:16897 group.admin # Kazu
<<<<<<< Updated upstream
add_principal identifier.license:c7eb2c3e9853cc04b1c7da580986aeeb8191acd1 group.admin # DogooDev
=======
add_principal identifier.steam:11000010460bd53 group.admin # BlackNight

>>>>>>> Stashed changes
