#   ____  ____   _____               
#  / __ \|  _ \ / ____|              
# | |  | | |_) | |     ___  _ __ ___ 
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "7499516214DBF5F20BE544180BD80DA9"
set sv_enforceGameBuild 2372
sets tags "nxgrp"

## You MAY edit the following:
sv_licenseKey "y2zm1s2n181skpzbtauvbpkyi5zrh0yv"
sv_hostname "NextGen RP / Dev"
sets banner_connecting "https://i.redd.it/iaakyixiz3e61.png"
sets sv_projectName "NextGen RP / Dev"
sets sv_projectDesc "In development"
sets locale "en-US" 
load_server_icon myLogo.png
set mysql_connection_string "mysql://root@localhost/arp3_0?charset=utf8mb4"
setr UseTarget true

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1
setr voice_enableSubmix 1
setr voice_enableUi 0

# These resources will start by default.
ensure webpack
ensure yarn
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents
ensure cron

# QBCore & Extra stuff

ensure qb-core
ensure chat
ensure np-lib
ensure np-ui

exec scripts.cfg
ensure [spawn]
exec assets.cfg

ensure qb-vehicleshop


# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:2161558 group.admin #PopoAU
add_principal identifier.fivem:837192 group.admin #KrnkS
