/* Actions */

.menu-page-action-header-categories {
    float: left;
    position: relative;

    margin-left: 0.2vh;
    width: 99.8%;
    height: 4.25vh;

    background-color: rgb(43, 48, 56);
}

.menu-page-action-header-category {
    float: left;
    position: relative;

    width: 7vh;
    max-width: 7vh;
    height: 100%;
    transition: all .1s ease-in-out;
}

.menu-page-action-header-category:hover {
    background-color: rgb(36, 37, 39);
}

.menu-page-action-header-category.active { 
    background-color: #24282a; 
}

/* Title */

.menu-page-action-header-category-title {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-page-action-header-category-title p {
    font-size: 1.4vh;
    color: white;
}

/* Search */

.menu-page-actions-search {
    float: left;
    position: relative;

    margin-left: 0.2vh;
    width: 100%;
    height: 5.5vh;

    background-color: rgb(43, 48, 56);
}

.menu-page-actions-search hr {
    margin-top: 0.5vh;
    color: white;
}

.menu-page-actions-search input {
    margin-top: .7vh;
    padding: 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    caret-color: white;
}

.menu-page-actions-search input::placeholder {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2vh;
}


/* New */

.admin-menu-items {
    position: relative;
    
    width: 99%;
    height: max-content;
    max-height: 72.5vh;

    overflow-y: auto;

    margin-left: 0.4vh;

    top: .5vh;
}

.admin-menu-items::-webkit-scrollbar-thumb {
    background-color: white;
}

.admin-menu-items::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3vh;
}

.admin-menu-item {
    position: relative;

    width: 100%;
    min-height: 3.25vh;
    height: max-content;

    font-size: 1.2vh;

    line-height: 3.25vh;

    cursor: pointer;
    
    border-radius: .2vh;
    margin-bottom: 1%;

    transition: background-color 250ms;
}

.admin-menu-item-favorited {
    float: left;
    margin-left: 2%;
}

.admin-menu-item.enabled {
    background-color: #6f987a !important;
}

.admin-menu-item-favorited.favorited { color: #eeee41; }

.admin-menu-item-name {
    padding-left: 2vw;
    width: 80%;
}

.admin-menu-item-arrow {
    position: absolute;
    width: 2.5vh;
    height: 2.5vh;
    right: 1vh;
    top: 0.25vh;
    background-color: transparent;
}

.admin-menu-item-arrow i {
    position: absolute;

    left: 50%;
    top: 50%;

    font-size: 1.8vh;

    transform: translate(-50%, -50%);
    color: black;
}

.admin-menu-item:nth-child(odd) { background-color: #cecfd1; }
.admin-menu-item:nth-child(even) { background-color: #99a4ae; }

.admin-menu-item:hover {
    background-color: rgba(138, 138, 138, 0.8);
}

.admin-menu-item-options {
    display: none;
    
    height: max-content;

    padding: 1vh;

    overflow: hidden;

    background-color: rgb(44, 63, 97);

    transition: all .2s ease-in-out;
}

.admin-menu-items-option-input > .ui-styles-input {
    width: 100%;
}

.admin-menu-items-option-input > .ui-styles-input > .ui-input-field {
    padding-top: 1vh !important;
    padding-left: 0vh !important;
}

.admin-menu-item-options .ui-styles-button {
    line-height: normal !important;
    font-size: 1.2vh !important;
}

/* 
.menu-page-actions-list {
    position: absolute;
    display: table;

    height: 90%;
    width: 99%;
    margin-top: 10vh;
    margin-left: .1vh;

    overflow-y: scroll;
    overflow-x: hidden;
}

.menu-page-actions-list::-webkit-scrollbar {
    border-radius: .5vh;
    width: .75vh;
    margin-left: .5vh;
}

.menu-page-actions-list::-webkit-scrollbar-track {
    background-color: white;
}

.menu-page-actions-list::-webkit-scrollbar-thumb {
    background-color: rgb(167, 167, 167);
}

.menu-page-action {
    float: left;
    position: relative;

    width: 100%;
    height: fit-content;
    min-height: 4vh;
    max-height: 25vh;
    margin-bottom: .2vh;
    
    transition: margin-bottom 50ms;
}

.menu-page-action-container {
    position: absolute;

    width: 100%;
    height: 4vh;
    max-height: 25vh;

    border-radius: .2vh;

    transition: all .1s ease-in-out;
}

.menu-page-action-container:hover {
    background-color: rgba(111, 111, 111, 0.75);
}

.menu-page-action-favorite {
    position: absolute;

    width: 4vh;
    height: 100%;
}

.menu-page-action-favorite i {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: rgb(58, 58, 58);
}

.menu-page-action-favorite-selected i {
    color: gold;
    transition: .1s ease-in-out;
}

.menu-page-action-favorite i:hover {
    color: rgba(255, 217, 0, 0.802)
}

.menu-page-action-title {
    position: absolute;

    width: 80%;
    height: 100%;

    left: 4vh;
}

.menu-page-action-title  p {
    font-size: 1.4vh;
    color: black;
}

.menu-page-action-dropdown {
    position: absolute;

    width: 5vh;
    height: 100%;
    right: 0;
}

.menu-page-action-dropdown i {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    color: black;
}


.menu-page-action-dropdown-list {
    display: none;
    position: absolute;

    top: 3.75vh;
    height: fit-content;
    width: 100%;
    padding-bottom: .25vh;
}

.menu-page-action-dropdown-item {
    float: left;
    position: relative;

    height: fit-content;
    min-height: 6.5vh;
    max-height: 20vh;
    width: 100%;
}

.menu-page-action-dropdown-item label {
    position: relative;

    top: 0.25vh;
    width: 100%;
    height: 2vh;

    font-size: 1.3vh;
    color: white;
}

.menu-page-action-dropdown-item-input {
    position: relative;

    left: 0.5vh;
    margin-top: .25vh;

    width: 80%;
    height: 3.75vh;
}

.menu-page-action-dropdown-item-confirm {
    display: none;
    position: relative;

    width: fit-content;
    min-width: 8vh;
    max-width: 10vh;
    height: 3.5vh;
    margin-left: .5vh;

    background-color: white;
    transition: all .1s ease-in-out;
}

.menu-page-action-dropdown-item-confirm p {
    position: absolute;

    width: 100%;
    height: 100%;
    left: 0;
    top: -1.3vh;

    line-height: 3.5vh;
    text-align: center;

    font-size: 1.2vh;
    font-weight: bolder;
    color: black;
}

.menu-page-action-dropdown-item-confirm:hover {
    background-color: rgb(175, 175, 175);
}

.dropdown {
    margin-bottom: 50vh;
}

.color-1 {
    background-color: rgba(255, 255, 255, 0.95);
}

.color-2 {
    background-color: rgba(255, 255, 255, 0.55);
} */