/* Sidebar */

.menu-sidebar {
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 4vh;
    border-right: .2vh solid #264d6f;
    background-color: rgb(35, 49, 77);
}

.menu-sidebar-actions {
    position: absolute;

    width: 100%;
    height: 100%;
}

.menu-sidebar-action {
    position: relative;

    width: 88%;
    height: 3.5vh;

    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1vh;

    border-radius: .3vh;
    background-color: gray;
    transition: all .1s ease-in-out;
}

.menu-sidebar-action i {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.9vh;
    color: white;
}

.menu-sidebar-action.selected {
    background-color: rgb(40, 65, 109);
}

.menu-sidebar-action.lower {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-sidebar-action.enabled i {
    color: red;
}

.menu-sidebar-action:hover {
    background-color: rgb(40, 65, 109);
}
