@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
    color: white;
}

.root-wrapper {
    height: auto;
    top: 50%;
    right: 10vw;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    overflow: hidden;
    background: #1b2027;
    border-radius: 8px;
}

html,
body {
    background: transparent !important;
}

label {
    font-size: 0.9rem;
}

.main-wrapper {
    width: 14vw;
    position: relative;
    overflow: hidden;
    padding: 1.5rem;
    display: none;
}

.heading {
    display: flex;
    justify-content: center;
    overflow: wrap;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.45rem;
}

span {
   font-size: 1.2vh;
   display: block; 
}

.info {
    padding: .5vh .7vw;
    border: 1px dashed #1b2027;
    border-radius: .5vh;
    font-size: 1.3vh;
    text-align: center;
    margin-bottom: 1vh;
}

.heading h1 {
    font-size: 18px;
    position: relative;
    font-weight: 500;
}

.form {
    width: 100%;
    height: auto;
    min-height: 10%;
    max-height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 24px;
}

.form-control[type="number"] {
    appearance: none;
    -webkit-appearance: none;
}
.form-control[type="text"],
.form-control[type="number"],
.form-control[type="url"],
.form-control[type="password"] {
    border: none;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px 0px;
    background: #1e2431;
    height: 50px;
    text-align: center;
    width: 100%;
}

.form-control[type="text"]:focus,
.form-control[type="url"]:focus,
.form-control[type="number"]:focus,
.form-control[type="password"]:focus {
    transition-property: box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: linear, ease-in;
}

.form-input-group {
    background: #1e2431;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #1e2431;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.input-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.input-group-chk {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.input-group label {
    color: rgba(255, 255, 255, 0.65) !important;
}

.input-group label:checked {
    color: rgba(255, 255, 255, 1) !important;
}

.form-group-title {
    width: 100%;
    text-align: center;
}

.select-title {
    background: #1e2431;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #1e2431;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.form-select {
    width: 100%;
    background: #1e2431;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #1e2431;
    margin-top: 2.5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 50px;
}

.form-select:active,
.form-select:focus {
    width: 100%;
    background: #1b2027;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #1b2027;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.form-select option:hover {
    background: #1b2027;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #1b2027;
    padding: 1rem 0;
    border-radius: 5px;
    border: none;
    appearance: none;
}

::placeholder {
    opacity: 65%;
    color: white;
}

.background {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1b2027;
    z-index: -99;
    display: none;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background: rgba(67, 145, 71, 0.9);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    transition-property: color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: linear, ease-in;
    margin-top: 5px;
}

.btn:hover {
    background-color: #1b2027;
}