* {
    padding: 0;
    margin: 0;
}

html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    background: transparent !important;
}


/* TEXT UI */

@keyframes showUI {    
    100% {opacity:1; top:50%; left:1%}
}

.showUI{
    animation: showUI ease 1s forwards;
}

#container{
    position:absolute;
    top:50%;
    left:1%;    
    max-width:25%;
    transform: translateY(-50%);
}

#box{
    width:100%;
    background: #0985e3f8; 
    border-radius:5px;    
}

#box:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	margin-top: -8px;
	margin-left: -8px;
}

#title, #text{
    width:calc(100% - 20px);
}

#text{
    padding:10px;
    color:#fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size:17px;
    text-align:center;   
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.822);
}  




/* MENU */

#containermenu {
    position: absolute;
    height: auto;
    top: 20%;
    right: 20%;
    border-radius: 5px;
    background: transparent !important;
}

#buttons {
    max-height: 75vh;
    width: 35vw;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
}

#buttons::-webkit-scrollbar {
    display: none;
}

.button {
    width: auto;
    max-width: 45%;
    height: 10%;
    background: #222831;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.45rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    user-select: none;
}

.button:hover {
    background-color: #30475e;
}

.button > .txt {
    color: rgb(232, 229, 229);
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    overflow: hidden;
    font-weight: 300;
}

.button > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: rgb(232, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    overflow: hidden;
    font-weight: 500;
}

#onimagehover {
    position: absolute;
    top: 10%;
    right: 75%;
}

#image {
    src: "";
    max-height: 40vh;
    max-width: 40vw;
    object-fit: scale-down;
}



/* INPUT */
.root-input {
    width: 40vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    overflow: hidden;
    background: transparent !important;
}

.main-input {
    width: 35%;
    height: auto;
    background: #222831;
    margin: auto;
    position: relative;
    top: 10%;
    overflow: hidden;
    padding: 1.5rem;
    display: none;
    border-radius: 0.4vw;
    user-select: none;
}

.inputheader {
    width: 100%;
    max-width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: wrap;
}

.inputheader h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    position: relative;
}

.inputbody {
    width: 100%;
    height: 100%;
    min-height: 10%;
    max-height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.inputbody label {
    color: white;
    margin-top: 0.8em;
}

.inputbody input[type="text"] {
    background: #30475e;
    color: white;
    border: none;
}

.inputbody input[type="text"]:focus {
    box-shadow: 0 0 0 0.1rem#ffffff52;
}

.inputbody select {
    background: #30475e;
    color: white;
    border: none;
}

.inputbody option {
    background: #30475e;
    color: white;
    padding: 1rem 0;
}

.inputfooter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.btn {
    padding: 0.175rem 1rem;
}

.inputbackground {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222831;
    z-index: -99;
    display: none;
}
